* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#a85c32(0,0,0,0,40), #a85c32(0,0,0,0,40));
    background-position: center;
    background-size: center;
}

.navbar {
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    margin-top: -20px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #07544f;
    font-weight: 600;
    padding: 15px;
    margin-right: 5px;
}

li a:hover {
    background: #07544f;
    transition: 0.5s;
}

.navbar a:hover {
    color: #a85c32;
    background: #07544f;
}

.content {
    width: 100%;
    position: absolute;
    color: #07544f;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}

button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #268740 (0, 155, 226);
    transition: 0.5s;
}

button:hover {
    color: #4d2f0e;
}

.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .banner video {
        width: 100%;
        height: auto;
    }
}

h3 {
    color: #07544f;
}

h1 {
    color: #07544f;
}